html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project
        link(rel="stylesheet", href="./styles/style.css")
        link(rel="stylesheet", href="./styles/normolize.css")
    body 
        include ./modules/header.pug
        main 
            .container
                section.main-banner
                    .main-banner__img-container 
                        img(src="./assets/IMAGE.png")
                    .main-banner__content 
                        span.main-banner__content-text Illustration
                        h1.main-banner__content-title  Japan House opens in mountainside to foster peak creativity.
                        .main-banner__content-desc Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.
                        button.main-banner__content-btn  By Reta Torphy
                    .items 
                        .item 
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item 
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item 
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item 
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item 
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item 
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                    .items2
                        h6 LATEST POSTS
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .item2
                            img(src="", alt="")
                            h6 PHOTOGRPHY 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus delectus doloribus at quas molestias voluptates voluptas consequatur, nemo, alias exercitationem laboriosam dicta eaque asperiores! Officia, quas excepturi. Adipisci, ratione?
                            h5 BY ALESSANDRA OPTIZ
                        .button 
                            button VIEV ALL LATEST POSTS
        include ./modules/footer.pug